<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price in RON</th>
    <th>Price in EUR</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products" (click)="onSelect(product)">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price_ron}}</td>
      <td>{{calculatePrice(product.price_ron)}}</td>
      <td>{{product.description}}</td>
    </tr>
  </tbody>
</table>
