<div class="field">
  <label class="label">ID</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product ID" value="{{selectedProduct.id}}" disabled="disabled">
  </div>
</div>

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Name" [(ngModel)]="selectedProduct.name">
  </div>
</div>

<div class="field">
  <label class="label">Price</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Price" [(ngModel)]="selectedProduct.price_ron">
  </div>
</div>

<div class="field">
  <label class="label">Description</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Description" [(ngModel)]="selectedProduct.description">
  </div>
</div>
