<div class="container">
  <div class="navbar-item">
    <div class="title">{{title}}</div>
  </div>

  <div class="columns">
    <div class="column">
      <p>Your products so far:</p>

      <app-product-table [selectedProduct]="selectedProduct" (selectProductEvent)="selectProduct($event)"></app-product-table>
    </div>
    <div class="column">
      <div class="control">
        <label class="radio">
          <input type="radio" name="answer" checked (click)="showUpdateForm()">
          Update Product
        </label>
        <label class="radio">
          <input type="radio" name="answer" (click)="showCreateForm()">
          Create New
        </label>
      </div>
      <br>

        <app-product-update-form *ngIf="updateFormShown" [selectedProduct]="selectedProduct"></app-product-update-form>
        <app-product-create-form *ngIf="!updateFormShown"></app-product-create-form>
    </div>
  </div>

</div>
