<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Name" [(ngModel)]="product.name">
  </div>
</div>

<div class="field">
  <label class="label">Price</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Price" [(ngModel)]="product.price_ron">
  </div>
</div>

<div class="field">
  <label class="label">Description</label>
  <div class="control">
    <input class="input" type="text" placeholder="Product Description" [(ngModel)]="product.description">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="appendProduct(product)">Add to list</button>
  </div>
</div>
